<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.2.1/lux/bootstrap.min.css" rel="stylesheet" integrity="sha384-kW2H6mf/72/MKlmwB//Zcwg0ckiegojPx/fio14/rpoYw2LMhULTn5YhS1QyrQfx" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="@Url.Action("Index","Home")">
            <span>
                <img src="~/Content/Images/brain.png" width="30" height="30" class="d-inline-block align-top"/>
            </span>
            PrismBoard
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarIcon" aria-controls="navbarIcon" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarIcon">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="@Url.Action("Index","Home")">Home</a>
                <a class="nav-item nav-link" href="@Url.Action("Index","Home")">Calendar</a>
                <a class="nav-item nav-link" href="@Url.Action("Index","Home")">Modules</a>
                <a class="nav-item nav-link" href="@Url.Action("Index","Home")">Forum</a>
                <a class="nav-item nav-link" href="@Url.Action("Index","Home")">Settings</a>
                <a class="nav-item nav-link" href="@Url.Action("Index","AdminDashBoard")">AdminBoard</a>
            </div>
        </div>
    </nav>

    <div class="container-fluid body-content">
        <br/>
        @RenderBody() 
    </div>
</body>
</html>
