@using MvcForum.Core.Models.General
@using MvcForum.Web.Application.ExtensionMethods

@{
    // Global Stuff
    var themeName = Html.Settings().Theme;
    var theme = new Theme

    {
        ThemeName = themeName,
        ThemePath = string.Concat(ForumConfiguration.Instance.ThemeRootFolder, themeName)
    };
    TempData[Constants.GlobalClass] = Convert.ToBoolean(PageData[Constants.IsMobileDevice]) ? "mobile" : "desktop";
    TempData[Constants.CurrentAction] = ViewContext.RouteData.GetRequiredString("action").ToLower();
    TempData[Constants.CurrentController] = ViewContext.RouteData.GetRequiredString("controller").ToLower();
}

<!DOCTYPE html>
<html>


<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap/css/lux-bootstrap.css" rel="stylesheet">
    <script src="~/Content/bootstrap/js/jquery-3.3.1.min.js"></script>
    <script src="~/Content/bootstrap/js/popper.min.js"></script>
    <script src="~/Content/bootstrap/js/bootstrap.min.js"></script>
    <style>
        
        .nav-item {
            font-size: 14px
        }

        .navbar-nav {
            font-size: 14px;
        }
        
    
    
    </style>
    <meta name="description" content="@ViewBag.MetaDesc" />
    <meta property="og:url" content="@HttpContext.Current.Request.Url.AbsoluteUri" />
    <meta property="og:description" content="@ViewBag.MetaDesc" />
    <meta property="og:title" content="@ViewBag.Title" />
    <meta property="og:site_name" content="@Html.Settings().ForumName" />
    <meta property="og:type" content="website" />
    @RenderSection("SocialMeta", false)
    @ViewBag.Canonical
    @Html.Partial("_StyleSheets", theme)
    <link rel="shortcut icon" href="@Url.Content($"{theme.ThemePath}/content/images/favicon.ico")">
    <link rel="apple-touch-icon-precomposed" href="@Url.Content($"{theme.ThemePath}/content/images/apple-touch-icon-57-precomposed.png")">
    @Html.Partial("_JavaScript", theme)
    @RenderSection("Header", false)
    @if (!string.IsNullOrEmpty(Html.Settings().CustomHeaderCode))
    {
        @Html.Raw(Html.Settings().CustomHeaderCode)
    }

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="@Url.Action("Index","Home")">
                <span>
                    <img src="~/Content/Images/brain.png" width="30" height="30" class="d-inline-block align-top" />
                </span>
                PrismBoard
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarIcon" aria-controls="navbarIcon" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarIcon">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index","Home")">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index","Home")">Calendar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index","Home")">Modules</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index","Home")">Forum</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index","Home")">Calendar</a>
                    </li>
                </ul>
                <ul class="navbar-nav ">


                    <!--if user is not authernticated, just show Login button-->

                    @if (!User.Identity.IsAuthenticated)
                    {
                        if (Html.Settings().SuspendRegistration != true)
                        {
                        <li class="navbar-right">
                            <a class="auto-register" href="@Url.Action("Register", "Members")">@Html.LanguageString("Layout.Nav.Register")</a>
                        </li>
                        }
                        <li class="navbar-right">
                            <a class="auto-logon" href="@Url.Action("LogOn", "Members")">@Html.LanguageString("Layout.Nav.Logon")</a>
                        </li>
                    }

                    <!--If user is authenticated, show drop down panel-->
                    @if (User.Identity.IsAuthenticated)
                    {
                        @Html.Action("SideAdminPanel", "Members", new { isDropDown = true })
                    }
                </ul>
            </div>
        </nav>

        <div class="container-fluid body-content">
            <br />
            @RenderBody()
        </div>
    </header>

    <footer>
        <div class="container">

            @RenderSection("Footer", false)

            <div class="row">
                <div class="col-sm-6">
                    @Html.Action("GetMainStats", "Stats")
                </div>
                <div class="col-sm-6">
                    @Html.Action("GetCurrentActiveMembers", "Members")
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="licenceblock">
                        <!--make sure to change href to actual prism board home page-->
                        <p>&copy; @DateTime.UtcNow.Year - @Html.LanguageString("Layout.PoweredBy") <a rel="nofollow" href="">PrismBoard</a></p>
                    </div>
                </div>
            </div>

        </div>
    </footer>
    @Html.Partial("_SlideOutPanel")
    @if (!string.IsNullOrEmpty(Html.Settings().CustomFooterCode))
    {
        @Html.Raw(Html.Settings().CustomFooterCode)
    }
    </body>
</html>
